#editauthor, #editdivider, #edittitle {
	float:left;
}
#editauthor, #edittitle, #edittext {
	border:1px dotted black;
	padding: 2px;
}
#edittext {
	width: 500px;
	min-height: 200px;
	font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
	font-size: 13px;
}

#opresult, #text, .controls {
	float:left;
	clear:both;
}

#text {
	margin: 10px;
}

.controls {
	margin: 20px;
}

#text h3 {
	margin-top: 0;
}
